# Database
DATABASE_URL="postgresql://postgres:postgres@db:5432/control_vehiculos?schema=public"

# JWT
JWT_SECRET="tu_secreto_super_seguro_cambiar_en_produccion"
JWT_EXPIRES_IN="24h"

# Server
PORT=3000
NODE_ENV=development

# PostgreSQL (para conexion local sin Docker)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=control_vehiculos
